.section{
    width: 95%;
    max-width: 1200px;
    background-color: #eeeeee;
    margin: 0 auto;
    padding: 2em 1em;

}

body{
    margin: 0;
}

header{
    background-color: #560D72;
    width: 100%;
    padding: 20px 0px;
}

h1{
    text-align: center;
    font-size: 2em;
    color: #fff;
    
}

.mathexpression{
    /* display: inline-block; */
    width: 100%;
    height: 60px;
    position: relative;
    font-size: 32px;
    text-align: center;
    float: left;
}

#settings{
    background-color: #eee;
}

#problems{
    background-color: rgb(245, 236, 248);
}



button {
    background-color: #560D72; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }



  button:hover{
    background-color: #3E0954;
  }
  

  form{
      font-size: 1.5em
  }

  .big-radio{
      padding: 16px;
      height: 1.5em;
      width: 1.5em
      
  }

  /* CSS for animated Menu Icon */
  .menu-animated {
    /* display: inline-block; */
    margin-right: 2em;
    cursor: pointer;
    padding: 0px 4px;
    border: 2px solid transparent;
    float: right;
  }
  .menu-animated:hover{
      background-color: #eee;
      border: 1px solid #999;
      border-radius: 5px
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }


  #factoredformat{
      display: inline-block;
      font-size: 2em;
  }
